<div class="container my-4 fondo">
<table style="width: 100%; border: 1px solid black;" class="table">
    <thead>
        <th>Usuario</th>
        <th>mensaje</th>
        <th>likes</th>
        <th><button (click)="irNuevoTweet()" class="btn btn-primary boton">Twittear</button></th>
    </thead>
    <tbody>
        <tr *ngFor="let tweet of listaTweets">
            <td>{{tweet.user.username}}</td>
            <td>{{tweet.mensaje}}</td>
            <td>{{tweet.likes.length}}</td>
            <button (click)="megusta([tweet.id])">Me gusta</button>
        </tr>
    </tbody>
</table>
</div>